.assessment-div {
    width: 100%;
    text-align: center;
    background-color: #4A92AB;
    color: white;
    margin: 0 auto;
    padding: 20px;
}

.assessment-h3 {
    color: white;
    padding-top: 10px;
    font-size: 40px;
}

a {
    color: gold;
}