#navbuttons {
    float: right;
    justify-content: flex-end;
    align-content: flex-end;
    margin-left: auto;
}

.btn-success {
    width: 140px;
}

.navbar-brand {
    font-weight: 700;
    font-size: 25px;
}