.App {
  text-align: center;
}

.row {
  margin: 0 auto;
}

h4 {
  margin: 20px 0px 20px 0px;
}

.course-heading {
  font-size: 60px;
  padding-bottom: 20px;
}

.course-selections {
  font-size: 30px;
  margin: 20px;
}

#dashboard-heading {
  font-size: 60px;
  padding: 15px 0px 15px 0px;
}

.logout-btn {
  margin-left: 40px;
  height: 45px;
  width: 160px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
}

.course-btn {
  margin-left: 20px;
}

.course-buttons {
  margin: 10px;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.chart-row {
  padding-top: 50px;
}

.course-container {
  text-align: center;
}

.btn-info {
  margin-bottom: 40px;
}

.math-chart {
  margin: 0 auto;
}

.example-container {
  margin-top: 70px;
}

#dashboard-button {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.courses-row {
  width: 100%;
}

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(187, 181, 181);
}

.bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
}

.cprogress {
  margin-top: 20px;
  font-size: 50px;
}

#currentcourse {
  margin: 20px 0px 20px 0px;
}

