i {
    margin: 0 auto;
    font-size: 60px;
    padding: 20px;
}

h3 {
    color: #4A92AB;
    font-weight: 700;
}

/* .fab {
    color: white;
} */

#icons {
    padding: 30px;
}

.bg-light {
    background: gold!important;
}

.helpchild {
    padding-bottom: 40px;
}

.lead {
    font-weight: 500;
}